<ul class="breadcrumb menu-breadcrumb" 
    style="margin-bottom: 0px; 
    border:1px solid #DDD; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;">
  <li>
    <b>
      <a href="#">Menu</a>
    </b> 
  </li>
</ul>
